.cakes {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .carousel {
    width:800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
.description {
  font-size: 30px;
  margin-left: 3rem;
  margin-right: 3rem;
}
  /* MENU ITEM STYLING */
  
  .cakeItem {
    border-radius: 15px;
    width: 300px;
    height: 300px;
    margin: 40px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;

  }
  
  h1 {
    font-size: 25px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: italic;
  }
  
  @media only screen and (max-width: 1300px) {
  }
  
  @media only screen and (max-width: 800px) {
  }
  
  @media only screen and (max-width: 800px) {
    .description {
      font-size: 15px;
  }
}