.home {
  width: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  margin:auto;

}

p {
  text-align: center;
}

h2 {
  font-family: "Great Vibes", cursive;
  font-size: 80px !important;
  align-items: center;
}

.title {
  color:#fda6ea;
  padding-top: 35px;
}

.rosie {
  color:black;
  padding-top: 35px;
}

.description {
  font-size: 80px; 
  align-items: center;
  margin-top: 30px;
}


.imageStyle {
  width: 250px;
  /* border-Radius: 50%; */
  margin-bottom: 30px; 
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 70px;
}



@media only screen and (max-width: 600px) {
  .description {
    font-size: 40px;
  }

  .imageStyle {
    width: 125px;
  }
  
  p {
    font-size: 15px;
  }

}

